body {
    margin: 0;
    font-size:100%;
    text-align:center;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color:rgb(248, 102, 126);
    text-decoration: none;
}

a:hover {
    color:crimson;
}

.button {
    border: solid 2px;
    border-color:red;
    padding: 10px;
}

hr {
    border: dotted 3px red;
    width:20%;
}

.img1 {
    position:absolute;
    left:10px;
    top:220px;
}

.img2 {
    position:absolute;
    right:10px;
    top:220px;
    width:15%;
    height:auto;
}

.img3 {
    width:50%;
    height:auto;
}

.img4 {
    width:20%;
    height:auto;
}

.headshot {
    border-radius:200px;
}

.card {
    background-color: white;
    border: solid 2px gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:30%;
    margin:auto;
}

.box {
    background-color: rgb(235, 235, 235);
    border: solid 2px black;
    width:90%;
}

.top {
    background-color:rgb(225, 229, 240);
    padding: 200px;
    font-family: Spectral, serif;
    font-size: 1.5em;
    color:red;
}

.information {
    background-color:rgb(225, 229, 240);
    padding: 10px;
    font-family: Montserrat, serif;
    color:brown;
    font-size: 1.2em;
}

.bottom {
    background-color:rgb(79, 79, 79);
    color:white;
    padding: 10px;
}

.column1 {
    float:left;
    margin-left:400px;
}

.column2 {
    float:right;
    margin-right:500px;
}

.column3 {
    float:right;
}

.column4 {
    float:left;
    margin-left: 200px;
}

.column5 {
    float:left;
    margin-left:500px;
}

.column6 {
    float:right;
    margin-right:500px;
}

.languages:after {
    content: "";
    display: table;
    clear: both;    
}

.jobs:after {
    content: "";
    display: table;
    clear: both;
}

.skills:after {
    content: "";
    display: table;
    clear: both;
}